.bgcontainer {
    width: 100%;
    background-image: linear-gradient(to bottom, #e0e0e0, lightblue);

/*   min-height: 100vh;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;      
*/    flex: 1;
}
.header {
    background-color: #444;

    color: white;
    text-align: center;
    padding: 1em;
}
.menu{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.content{
    padding: 1em;
    margin-bottom: 50px;
    text-align: center;
    border-style: groove;
    border-radius: 50px;
}

.welcome_heading{
    color: black;
    font-size: 4em;
    font-family: monospace;
  }

  .navbar-brand,
  .nav-link {
    color: #ffffff !important;
  }
.nav-link:hover {
    color: #ffcc00 !important;

  }
  
 
.nav-link:hover, .btn:hover {
    transition: 0.3s ease-in-out;
    color: #17a2b8;
    transform: scale(1.05);
}

.health-check{
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-group{
    font-size: 20px;
}

.custombutton{
    background-color: blue;
    color: #ffffff;
    height: 50px;
    width: 100px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
}

.h2, .h5{
    text-align: center;
}

footer{
    background-color: white;
    color: #333;
    text-align: center;
    padding: 0.5em;
    font-style: italic;
    border-style: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#about{
    margin-top: 200px;
    margin-bottom: 100px;
    height: 100%;
    background-size: cover;
}

#account{
    margin-top: 100px;
    margin-bottom: 350px;
    height: 100%;
    background-size: cover;
}

#contact{
    margin-top: 50px;
    margin-bottom: 100px;
    height: 100%;
    background-size: cover;
}

#admin_panel{
    margin-top: 200px;
    margin-bottom: 100px;
    height: 100%;
    background-size: cover;
}

#location-alerts{
    margin-top: 50px;
    margin-bottom: 100px;
    height: 100%;
    background-size: cover;
}


#health_profile{
    margin-top: 200px;
    margin-bottom: 150px;
    height: 100%;
    background-size: cover;
}

#health_reports{
    margin-top: 200px;
    margin-bottom: 150px;
    height: 100%;
    background-size: cover;
}

#location_check{
    margin-top: 200px;
    margin-bottom: 50px;
    height: 100%;
    background-size: cover;
}

#login{
    margin-top: 100px;
    margin-bottom: 240px;
    height: 100%;
    background-size: cover;
}

#login_page{
    margin-top: 200px;
    margin-bottom: 150px;
    height: 100%;
    background-size: cover;
}

#signup_page{
    margin-top: 200px;
    margin-bottom: 150px;
    height: 100%;
    background-size: cover;
}

#services{
    margin-top: 150px;
    margin-bottom: 150px;
    height: 100%;
    background-size: cover;
}

#settings{
    margin-top: 200px;
    margin-bottom: 150px;
    height: 100%;
    background-size: cover;
}

#support{
    margin-top: 200px;
    margin-bottom: 210px;
    height: 100%;
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

  /* Dark mode styles */
body.dark-mode {
      background-color: #1a1a1a;
      color: #f0f0f0;

  }

button {
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  button:hover {
      background-color: #0056b3;
  }
