<!DOCTYPE html>
<html>
    <head>
        <title>Proxi-Health</title>
        <link rel="stylesheet" type="text/css" href="static\style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key"></script>
    </head>
  <body>
    <div class="bgcontainer">
    <div class="container mt-4" id="dashboard">
      <nav class="navbar Navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a class="navbar-brand" href="#">Proxi-Health</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">User</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('location_check') }}">Location Check</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_panel') }}">Admin Panel</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('support') }}">Support</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('account') }}">Account</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('services') }}">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('submit_health_metrics') }}">submit health metrics</a>
          <li class="nav-item">
        </ul>
        </div>
      </nav>
<br><br>
    </div>
    <div id="location-alerts" class="mt-4">
    <div class="container content shadow shadow-sm shadow-lg bg-white mt-4">
      <h2>Location Alerts</h2>
      <div class="card1">
        <div class="card-body">
          <h5 class="card-title">Location Alerts</h5>
          <ul>
            <p>Visited risky zone: XYZ<br>
            Exposure alert on 25th Jan</p>
          </ul>
        </div>
      </div>
      </div>
    </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <p>&copy; 2025 proxi-health</p>
  </footer>
  </div>
  </body>
  
  <script src="C:\Users\ASUS\OneDrive\Desktop\coding\New\static\script.js"></script>
  <script>
          function toggleDarkMode() {
              document.body.classList.toggle("dark-mode");
              localStorage.setItem("darkMode", document.body.classList.contains("dark-mode"));
          }

          if (localStorage.getItem("darkMode") === "true") {
              document.body.classList.add("dark-mode");
          }
  </script>
</html>
